.app-root {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 40px;
    min-height: 100vh;
    gap: 20px;
}

@media (max-width: 600px) {
    .app-root {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
}